body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, rgb(212, 88, 109), black);
    color: white;
    min-height: 100vh;
}


.logo {
    width: 20%;
}

.bio {
    font-size: 16px;
    text-align: center;

}

.cover {
    width: 200px;
    height: 200px;
}

li {
    text-align: center;
    display: inline-block; 
    margin-right:50px;
}

.form {
    width: 100px;
}

button {
    padding: 8px;
    width: 60px;
    background-color: rgb(214, 171, 192);
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
}